<!DOCTYPE html>
<html>
<head>
  <title>Travelog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <h1 class="app-title"><a href="/">
      <i class="fa fa-globe-americas 2x"></i>TRAVELexp</a></h1>
      <ul class="menu header-nav">
        <li class="header-link text-center">
          <%= link_to posts_new_path, title: "Write Post" do %>
            <%= fa_icon "pencil-alt" %><span class="link-text"> Write Post</span>
          <% end %>
        </li>
        <li class="header-link text-center">
          <%= link_to posts_new_path, title: "TRAVELexp-erts" do %>
            <%= fa_icon "mountain" %><span class="link-text"> TRAVELexp-erts</span>
          <% end %>
        </li>
        <li class="header-link text-center">
          <%= link_to posts_new_path, title: "My Profile" do %>
            <%= fa_icon "user-circle" %><span class="link-text"> My Profile</span>
          <% end %>
        </li>
        <li class="header-link text-center">
          <%= link_to posts_new_path, title: "Plan Trip" do %>
            <%= fa_icon "bookmark" %><span class="link-text"> My Favorites</span>
          <% end %>
        </li>
      </ul>

    <section class="top-bar-section">
      <ul class="right enter-buttons">
        <%- if current_user -%>
          <li><%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= button_to 'Sign Up', new_user_registration_path, method: :get %></li>
          <li><%= button_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
